<h1>Sign Up</h1>

<%= form_with model: @user, url: sign_up_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="alert alert-danger">
      <% f.object.errors.full_messages.each do |m| %>
        <div><%= m %></div>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3 ">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", placeholder: "email@example.com" %>
  </div>
  <div class="mb-3 ">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", placeholder: "password" %>
  </div>
  <div class="mb-3 ">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
  </div>

  <div class="mb-3">
    <%= f.submit "Sign Up", class: "btn btn-primary"  %>
  </div>
<% end %>
