<h1>Edit Password</h1>

<%= form_with model: Current.user, url: edit_password_path do |f| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <% form.object.errors.full_messages.each do |m| %>
        <div><%= m %></div>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :password %>
    <%= f.text_field :password, class: "form-control", placeholder: "password" %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation, class: "form-control", placeholder: "password" %>
  </div>

  <div class="mb-3">
    <%= f.submit "Update Password", class: "btn btn-primary" %>
  </div>

<% end %>
